# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
.eggs/
*.egg

# Virtual environment
.venv/
venv/

# YOLO outputs & weights cache
runs/
*.pt

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db